<div *ngIf="produtosCarrinho.length <= 0">
    <h3 class="text-center">Sem item no carrinho!</h3>
</div>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
        <th>Quantidade</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Imagem</th>
        </tr>
    </thead>

    <tbody>
      <tr *ngFor="let produtoCarrinho of produtosCarrinho; let i = index">
        <td><h4><a (click)="diminuirQuantidades()">-</a> {{produtoCarrinho.quantidade}} <a (click)="aumentarQuantidades()">+</a></h4></td>
        <td><h4>{{produtoCarrinho.produto.nome}}</h4></td>
        <td><h4>{{produtoCarrinho.produto.preco}}</h4></td>
        <td><img src="assets/imagens/red.gif" width="100" height="100" /></td>
        <td><button (click)="removeProduto(produtoCarrinho, i)" class="btn btn-xs btn-danger">Remover</button></td>
      </tr>

      <tr class="warning">
        <td><h4></h4></td>
        <td><h4>Total de itens: {{qtdProduto}}</h4></td>
        <td><h4>Total: R$ {{precTotal}}</h4></td>
      </tr>
    </tbody>
</table>